{% extends 'base.html' %}

{% block content %}

    <div class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div class="card" style="width: 20rem;">
        <div class="card-body text-center">
            <h2 class="card-title display-4">{{ object.first_name }} {{ object.last_name }}</h2>
            <h5 class="lead">{{ object.email_address }}</h5>
        </div>
        <hr>
        <div class="card-body text-center">
            <a class="link lead" href="{% url 'client-update' client.id %}" role="button">Edit</a>
            <a class="link lead" href="{% url 'client-delete' client.id %}" role="button">Delete</a>
        </div>
    </div>
<a href="{% url 'client-list' %}">Back to list</a>
{% endblock %}