{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Edit Order</h1>
            <p class="lead">Edit purchase order.</p>
        </div>
    </div>

    <form action="{% url 'order-update' order_id %}" method="post">
        {% csrf_token %}
        <div>
            {% for field in order_form %}
                <div class="form-row">
                    <div class="col-2">
                        <strong>{{ field.label }}</strong>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {{ formset.management_form }}
                {% for form in formset %}
                <tr>
                    <td>{{ form.item }}</td>
                    <td>{{ form.quantity }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        <input type="submit" value="Save" class="btn btn-success">
        <a href="{% url 'order-list' %}" class="btn btn-secondary">Back</a>
    </form>
{% endblock content %}
