<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}

        <title>SimpleShop |{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {% load static %}
            <link href="{% static 'css/style.css' %}" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        {% endblock stylesheets %}
            <script src="https://unpkg.com/vue"></script>

    {% endblock head %}
</head>

<body>
{% block body %}
            {% block top_navigation %}
                {% include "top_navigation.html" %}
            {% endblock top_navigation %}


    <div class="container body">
        <div class="main_container">


            {% block content %}
            {% endblock content %}


        </div>
    </div>

    {% block footer %}
        {%  include "footer.html" %}
    {% endblock footer %}

    {% block javascripts %}

    {% endblock javascripts %}

{% endblock body %}
</body>
</html>
