<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}

        <title>SimpleShop |{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {% load static %}
            <link rel="icon" href="{% static 'img/favicon/favicon-tags.ico' %}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <link href="{% static 'css/style.css' %}?{% now "U" %}" rel="stylesheet">
        {% endblock stylesheets %}
    {% endblock head %}
</head>

<body>
{% block body %}
            {% block top_navigation %}
                {% include "top_navigation.html" %}
            {% endblock top_navigation %}


    <div class="container body vpad">
        <div class="main_container">

            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            {% endfor %}

            {% block content %}
            {% endblock content %}


        </div>
    </div>

{#    {% block footer %}#}
{#        {%  include "footer.html" %}#}
{#    {% endblock footer %}#}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% endblock javascripts %}

{% endblock body %}
</body>
</html>
