{% extends 'base.html' %}

{% block content %}


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ client.first_name }} {{ client.last_name }}</h1>
            <p class="lead">All Orders for {{ client.email_address }}</p>
            <hr class="my-4">
            <a class="btn btn-primary" href="{% url 'preview-email' client.id %}" role="button">Send to Email</a>
        </div>
    </div>

    {% for order in orders %}
    <div class="container container-orders">
        <div class="row justify-content-center">
            <div class="col-11 row-title">
                PO Number: {{ order.po_number }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-1 row-head">#</div>
            <div class="col-4 row-head">Product ID</div>
            <div class="col-3 row-head">Quantity</div>
            <div class="col-3 row-head">Subtotal</div>
        </div>
        {% for orderline in order.orderlines.all %}
        <div class="row row-body justify-content-center">
            <div class="col-1">{{ forloop.counter }}</div>
            <div class="col-4">{{ orderline.item }}</div>
            <div class="col-3">{{ orderline.quantity }}</div>
            <div class="col-3">{{ orderline.subtotal }}</div>
        </div>
        {% endfor %}


    </div>
    {% endfor %}



<a href="{% url 'client-list' %}">Back to list</a>
{% endblock %}