{% extends 'base.html' %}

{% block content %}


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ client.first_name }} {{ client.last_name }}</h1>
            <p class="lead">All Orders for {{ client.email_address }}</p>
            <hr class="my-4">
            <a class="btn btn-primary" href="{% url 'preview-email' client.id %}" role="button">Send to Email</a>
        </div>
    </div>

    {% for order in orders %}
        <p class="link lead">PO Number: {{ order.po_number }}</p>
        <table class="table table-striped table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
            </tr>
            </thead>
            {% for orderline in order.order_items.all %}
            <tr>
                <td>{{ orderline.item }}</td>
                <td>{{ orderline.quantity }}</td>
            </tr>
            {% endfor %}
        </table>

    {% endfor %}

<a href="{% url 'client-list' %}">Back to list</a>
{% endblock %}