{%  extends "base.html" %}

{% block title %} Contact {%  endblock title %}

{% block content %}
    <h1 class="display-4">Contact Me!</h1>
    <p class="lead lead-2">Please feel free to send me any complaints and/or memes.</p>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="save btn btn-primary">Submit</button>
        <a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
    </form>

{% endblock content %}