{%  extends "base.html" %}

{% block title %} Contact {%  endblock title %}

{% block content %}
    <h1>New Email</h1>
    <p>
        Need to modify this page to allow for user feedback to send emails directly to the site admin.
    </p>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="save btn btn-default">Submit</button>
        <a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
    </form>

{% endblock content %}