{%  extends "base.html" %}

{% block title %} Products {% endblock title %}

{% block content %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Products</h1>
                <p class="lead lead-2">View. Create. Edit. Delete.</p>
            </div>
        </div>

        <a class="link lead" href="{% url 'product-create'%}" role="button">[+] Add New Product</a>
     <div class="scroll-table">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price ($)</th>
                <th scope="col">Stock</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.product_id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.sale_price }}</td>
                    <td>{{ product.stock }}</td>
                    <td>
                        <a class="link lead" href="{% url 'product-detail' product %}" role="button">Details</a>
                        <a class="link lead" href="{% url 'product-update' product %}" role="button">Edit</a>
                        <a class="link lead" href="{% url 'product-delete' product %}" role="button">Delete</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
     </div>
        <a class="link lead" href="{% url 'product-create'%}" role="button">[+] Add New Product</a>

{% endblock content %}